<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolorem praesentium, harum deserunt neque, inventore excepturi eos quisquam perferendis explicabo accusamus modi atque aspernatur, ab voluptate quidem architecto accusantium? Eius.</p>
    </div>
</div>