<div class="jumbotron mt-4">
    <h1 class="display-4">Prueba de Proyecto final</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam optio vitae expedita accusantium, quo quod a nobis, architecto sed, repellat reprehenderit? Nobis vel deleniti explicabo voluptatem animi debitis adipisci voluptatibus.</p>
    <hr class="my-4">
    <a href="http://www.google.com.mx" class="btn btn-primary btn-lg">Google</a>
</div>